:root {
    --panel-color: #f5f5f5;
    --box-color: #fff;

    --top-menu-width: 100px;
    --top-menu-height: 50px;


    --text-color1: #161f30;
    --text-color2: #6E6E73;
    --text-color3: #bbc0cc;
    --text-color4: #8f939e;

    --btn-color: #007AFF;
    --font-size-28: 28px;
    --font-size-20: 20px;
    --font-size-17: 17px;
    --font-size-14: 14px;
    --font-size-12: 12px;
    --box-shadow-basic: 2px 4px 12px rgba(0, 0, 0, .08);
    --box-shadow-hover: 2px 4px 16px rgba(0, 0, 0, .16);
    --th-color: rgb(245, 246, 250);
    --font-color-title: #212b40;
    --font-color-td: #3f4757;
    --padding: #040404;

    --font-size-lg: 2.5vw;
    --font-size-md: 1.5vw;
    --font-size-sm: 1vw;
    --font-size-xs: 0.5vw;

    --padding-size-lg: 2vw;
    --padding-size-md: 1.5vw;
    --padding-size-sm: 1vw;
    --padding-size-xs: 0.5vw;

    --margin-size-lg: 2vw;
    --margin-size-md: 1.5vw;
    --margin-size-sm: 1vw;
    --margin-size-xs: 0.5vw;

    --border-radius-B: 18px;
    --border-radius-B: 10px;
    --border-radius-S: 6px;
}

@font-face {
    font-family: 'SCDream1';
    src: url("/font/SCDream1.otf");
}

@font-face {
    font-family: 'SCDream2';
    src: url("/font/SCDream2.otf");
}

@font-face {
    font-family: 'SCDream3';
    src: url("/font/SCDream3.otf");
}

@font-face {
    font-family: 'SCDream4';
    src: url("/font/SCDream4.otf");
}

@font-face {
    font-family: 'SCDream5';
    src: url("/font/SCDream5.otf");
}

@font-face {
    font-family: 'SCDream6';
    src: url("/font/SCDream6.otf");
}

@font-face {
    font-family: 'SCDream7';
    src: url("/font/SCDream7.otf");
}

@font-face {
    font-family: 'SCDream8';
    src: url("/font/SCDream8.otf");
}

@font-face {
    font-family: 'SCDream9';
    src: url("/font/SCDream9.otf");
}

@font-face {
    font-family: 'Bebas';
    src: url("/font/BebasNeue-Regular.otf");
}

@font-face {
    font-family: 'Noto';
    src: url("/font/NotoSansKR-Regular.otf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: SCDream4;
}

body,
html {
    width: 100%;
    height: 100%;

}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

table {
    border-collapse: collapse;
    color: var(--text-color);
}


.wrapper {
    width: 100%;
    height: 100%;
}

.top_bar {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--box-color);
    box-shadow: var(--box-shadow-hover);
}

.logo {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bebas;
    font-size: var(--font-size-28);
    margin-left: var(--margin-size-xs);
}

.menu {
    width: calc(100% - 100px);
    display: flex;
    justify-content: flex-end;
    margin-right: var(--margin-size-xs);
}

.menu_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: var(--font-size-14);
    margin-left: var(--margin-size-xs);
}

.chart-container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.graph-box {
    width: 23%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #555;
    background-color: #444;
}